.navbar {
  border-bottom: 1px solid grey;
  box-shadow: 0px 0px 10px 0px;
  background-image: linear-gradient(white, whitesmoke);
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
